.alignment{
    display: flex;
    justify-content: left;
    margin-left:40px;
}
.heading{
    text-align:left;
}

.button{
    background-color: rgb(24, 185,24);
    border-width:0;
    font-size:15px;
    width:90px;
    height:50px;
    margin-left: 0px;
    color:white;
}
.button:hover{
    background-color: #96dfd7;
}
